
*{
    box-sizing: content-box;
    scroll-behavior: smooth;
}

.container-books{
    display: flex;
    flex-direction: column;
   
    padding: 3rem 1rem;
    margin: 0 auto;
    
    margin-top: 0.5rem;
}
.inner-container-book{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* box-shadow: 0px 5px 10px rgba(247, 240, 240, 0.123); */

}
.genre-title{
    margin-left: 5rem;
}

.book-card-container{
    position: relative;
    width: 13rem;
    height: 18rem;
    margin: 1rem 1.5rem 1rem 0rem;

    cursor: pointer;
    padding: 0;
    /* background-image: url('../it_ends_with_js.jpg');
    background-repeat: no-repeat;
    background-size: 13rem 18rem; */
    -webkit-box-shadow: rgba(6, 6, 6, 0.459) 0px 5px 7px;
    
    overflow: hidden;
}


.book-card-image{
    position: absolute;
    width: 13rem;
    height: 18rem;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.book-card-container:hover .book-card-image{
    opacity: 0.3;
}


.book-card-slider{
    /* transform: translateX(-13rem); */
    width: 13rem;
    height: 18rem;
    /* border: 1px solid red; */
    background-color: rgb(0, 0, 0);
    position: absolute;
    opacity: 0;
    
}

.book-card-container:hover .book-card-slider{
    animation-duration: 0.4s;
    animation-name: slidein;
    opacity:0.6;
    /* border-right: 5px solid rgb(0, 0, 0); */
}
.book-card-container.mouseover  .book-card-slider{
    animation-duration: 0.4s;
    animation-name: slideout;
    opacity: 0;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-13rem);
    
  }

  to {
      opacity:0.6;
      transform: translateX(0);
  }
}


@keyframes slideout {
    from {
        opacity:0.6;
        transform: translateX(0);
    }
  
    to {
        opacity:0.6;
        transform: translateX(-16rem);
    }
  }
  


.book-card-slider-text{
    width: 13rem;
    height: 18rem;
    opacity: 1;
    transform: translateX(-13rem);
}

.book-card-container:hover .book-card-slider-text{
    animation-duration: 0.4s;
    animation-name: slidein-text;
    opacity: 1;
    transform: translateX(0 );  
}
.book-card-container.mouseover  .book-card-slider-text{
    animation-duration: 0.4s;
    animation-name: slideout-text;
    opacity: 0;
}

@keyframes slidein-text {
  from {
    opacity: 0;
    transform: translateX(-13rem);
    
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}


@keyframes slideout-text {
    from {
        opacity: 1;
        transform: translateX(0);
    }
  
    to {
        opacity: 0.5;
        transform: translateX(-16rem);
    }
  }


.book-card-content{
    height: inherit;
    display: flex;
    flex-direction: column;
}
.book-card-content p{
    color: white;

}
.book-title{
    width: fit-content;
    margin: 0 auto;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;

    text-align: center;
}
.book-author{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: auto;
    margin-top: 1rem;
    text-align: center;
}
.add-to-read{
    z-index: 1;
    width: 5rem;
    height: 1.5rem;
    margin: 1rem auto;
    background:none;
    border: none;
    border-radius: 3rem;
    border: 1px solid rgb(255, 254, 254);
    color: white;
    padding: 0.5rem 1rem;
    background-color: rgba(16, 237, 16, 0.416); 
    cursor: pointer;
    transition: all 0.05s ease-in;
}
.add-to-read:hover{
    background-color: rgba(16, 237, 16, 0.686);
}
.card-content-footer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0.5rem;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
    row-gap: 1rem;
}
.card-content-footer > p{
    font-size: 0.8rem;
    text-align: center;
    font-weight: 100;
    padding: 0;
    margin: 0;
}
.book-review{
    width:max-content;
}
.footer book-genres{
    position: absolute;
    width: 80rem;
    height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dots{
    /* margin: 0; */
    flex: 0 0 1rem;
    padding: 0;
}



.viewBook-button{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 1px solid red;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    
}


.personal-shelf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.header-personal-shelf{
    width: max-content;
    margin: 0 auto;
}
