.search{
    margin: 3rem 0  0 5rem  ;
    display: flex;
    flex-direction: column;

}

.search h2{
    font-family: serif;
    padding: 0;
    margin: 0;
}

.search-container2{
    margin-top: 30px;
    width: fit-content;
    height: fit-content;
}


.bar a:hover{
    text-decoration: underline;
    color: rgb(155, 155, 155);
    font-size: 20px;
}

.bar a:first-child{
    text-decoration: underline;
}

hr{
    /* width: 100%; */
}

.cover{
    width: 70px;
    height: 100px;
}

.book{
    display: flex;
}

.info{
    padding-top: 20px;
}

.info p{
    margin-left: 18px;
    padding-top: 5px;
}

.pages{
    float: right;
    margin-right: 100px;
}

.pages a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.pages a:hover{
    text-decoration: underline;
    color: red;
}

.books-found-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.title-found{
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}